body {
    margin: 0;
    padding: 20px;
    font-family: Verdana, Helvetica, sans-serif;
}

#welcome, #notify, #lobby, #playground {
    box-shadow: 10px 10px 5px #ccc;
    border: 1px solid #ccc;
    padding: 5px;
}

#welcome, #notify {
    clear: both;
    margin-bottom: 20px;
    padding: 5px;
}
#notify {
    background-color: #ffe87c;
    border-color: #ffc520;
}
#lobby {
    width: 300px;
    float: left;
    margin-right: 20px;
}
#playground {
    width: 600px;
    float: left;
}